*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  display: grid;
  max-width: 1fr;
  min-height: 100vh;
}
.header{
  margin: 10px;
  border: 1px solid #E36414;
  padding: 5px;
  color: #E36414;
  display: grid;
  grid-template-columns: 30% auto 30%;
}

main{
  margin: 10px;
  border: 1px solid #0F4C5C;
  padding: 5px;
  color: #0F4C5C;
  display: flex;
}

section{
  margin: 10px;
  border: 1px solid #FB8B24;
  padding: 5px;
  color: #FB8B24;
  width: 75%;
}

article{
  margin:20px auto;
  border: 1px solid #FB8B24;
  padding: 5px;
  height:220px;
  color:#498467;
}

aside{
  margin: 10px;
  border: 1px solid #9A031E;
  padding: 5px;
  color: #9A031E;
  width: 25%;
}

footer{
  margin: 10px;
  border: 1px solid #98CE00;
  padding: 5px;
  color: #98CE00;
}

  /* styles for label */
  .label {
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

/* Creating a 100x100 box with red color */
.box {
    margin-top: 40px;
    width: 100px;
    height: 100px;
    background-color: red;
}

/* hiding the checkbox */

#chk-btn {
    background-color: skyblue;
}

/* Changing the color of the box 
to yellow from red */
#chk-btn:checked+.box {
    background-color: yellow;
}