* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-height: 100vh;
    background:#1C1D26 ;
    }

.container-page{
    max-width: 1440px;
    margin: 0 auto;
}

.navigation, .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;

        z-index: 999;
        min-height: 80px;
        }
#menu{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1440px;
    align-self: flex-end;
    justify-content: space-round;
    align-items: center;
    margin: 0px auto;
    align-items: center;
    height: 100%;
    max-height: 80px;
}


#menu a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
        header > img {
        /* imagem "desce" um pouco dentro do header */
        margin-top: 10px;
    }

.header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4527a9;
}